doctype html
html
    head
        title="Logalyzer"
        meta(charset="UTF-8")

        link(href="index.css" rel="stylesheet")
        link(href="https://unpkg.com/tabulator-tables@4.4.3/dist/css/tabulator.min.css" rel="stylesheet")
        link(href="https://unpkg.com/tabulator-tables@4.4.3/dist/css/tabulator_midnight.min.css", rel="stylesheet")
    body
        div#fork
            a.center-label(href="https://github.com/DeflatedPickle/Logalyzer")#fork-link Fork Me On GitHub

        div.center
            label#title.center-label Logalyzer
            label#credit.center-label Made With; PugJS, TypeScript, CoffeeScript, SCSS and Tabulator
            div.center#grid
                label#label-re-select RegEx:
                select#re-select
                    option(value="custom") Custom
                    option(value="forge") Forge
                textarea#re-pattern

                label#label-re-formatter Formatter:
                input#re-formatter(type="text")

                label#label-tb-columns Columns:
                input#tb-columns(type="text")

        div#grid-table
            div#table.table
            label#start Start:
            input#start-rows(type="text")
            label#end End:
            input#end-rows(type="text")
            textarea#text(name="table")

        div#footer
            label.center-label Copyright (c) 2019 DeflatedPickle